
.icon-user:before { content: '\e800'; } /* '' */
.icon-file-pdf:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-qq:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-angellist:before { content: '\e805'; } /* '' */
.icon-up-circle:before { content: '\e806'; } /* '' */